<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'tasker/vendor/bootstrap/css/bootstrap.min.css' %}">

    <title>Hello, ProMan!</title>
  </head>
  <body>
    <h1>Hello, ProMan!</h1>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'tasker/vendor/jquery/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'tasker/vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'tasker/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>